@if (movieDetails) {
  <section class="overflow-x-hidden" [ngStyle]="{'background-image': 'url(' + posterPrefix + movieDetails.backdrop_path + ')', 'background-size': 'cover', 'background-repeat': 'repeat','background-position':'left calc((50vw - 170px) - 340px) top'}">
    <div class="details-layer py-4 px-lg-4">
      <div class="container-xxl container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <div class="E-poster rounded-3">
              <img class="w-100 rounded-3" [src]="imgPrefix + movieDetails.poster_path" onerror="this.src='./assets/images/glyphicons-basic-38-picture-grey.svg'; this.style='min-width: 300px; width: 300px; height: 450px;'">
            </div>
          </div>
          <div class="col-sm-9">
            <h2 class="E-title mt-3 mt-sm-0">{{movieDetails.title}} <span>({{movieDetails.release_date | date : 'YYYY'}})</span></h2>
            <div class="d-flex flex-wrap gap-2 align-items-center mt-1">
              @if (MCertificate) {<span class="E-certification">{{MCertificate}}</span>}
              <span class="h5 mb-0">{{ movieDetails.release_date| date : 'dd/MM/YYYY' }} ({{movieCountry}})</span>
              <ul class="d-flex flex-wrap gap-2 mb-0">
                <li class="h5 mb-0 me-5"> @for (genre of movieGenres; track $index) {<span>{{genre}}@if (!$last) {, } </span>} </li>
                <li class="h5 mb-0"> {{movieDetails.runtime | time}} </li>
              </ul>
            </div>
            <div class="d-flex align-items-center my-3">
              <svg width="66" height="66">
                <circle cx="33" cy="33" r="30" stroke="darkgray" stroke-width="3" stroke-opacity="0.1"/>
                <circle cx="33" cy="33" fill="none" r="30"
                  [attr.stroke]="
                    (movieDetails.vote_average | rating) >= 80 ? 'green'
                  : (movieDetails.vote_average | rating) >= 70 ? '#08de08'
                  : (movieDetails.vote_average | rating) >= 50 ? 'gold'
                  : 'tomato'"
                  stroke-width="3" stroke-linecap="round" pathLength="100"
                  [attr.stroke-dashoffset]="movieDetails.vote_average | progress"
                  stroke-dasharray="100" transform-origin="33 33" transform="rotate(-90)"/>
                @if (movieDetails.vote_average) {<text x="15" y="38" fill="white" class="my-font"> {{ movieDetails.vote_average | rating }}% </text>}
                @else{<text x="15" y="38" fill="white" class="my-font">NR</text>}
              </svg>
              <div class="trailer">
                <span class="ms-2 fs-5 fw-bolder me-5">Users Rating</span>
                <a class="cr" (click)="showTrailer()" title="Official Trailer On YouTube"> Play Trailer <i class="fa-solid fa-play"></i> </a>
                @if (isTrailerVisible) {
                  <div class="video-overlay">
                    <div class="video-container">
                      <div class="top-trailer p-2">
                        <p class="m-0 h5">Play Trailer</p>
                        <button class="close-video" (click)="closeTrailer()"><i class="fa-solid fa-xmark"></i></button>
                      </div>
                      <div>
                        <iframe allow="autoplay; encrypted-media; picture-in-picture;" allowfullscreen  [src]="movieTrailerVideo" frameborder="0"></iframe>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
            <span class="E-tagline">{{movieDetails.tagline}}</span>
            <h4 class="py-0 my-1">Overview</h4>
            <p class="E-overview">{{movieDetails.overview}}</p>
            <div class="crew">
              <div class="row g-3 align-items-center">
                @for (person of crew; track $index) {
                  <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                    <div class="d-flex align-items-center">
                      <a class="text-white" [routerLink]="['/person', person.id]">
                        @if (person.profile_path) {
                          <img class="crew-img" width="50px" [src]="imgPrefix + person.profile_path" [alt]="person.name" [title]="person.name">
                          }@else {
                            <img class="crew-img" width="50px" height="81px" src="./assets/images/avatar-profile-picture.jpg" [alt]="person.name">
                          }
                      </a>
                        <div class="d-flex flex-column">
                          <a class="text-white" [routerLink]="['/person', person.id]"> <h6 class="E-person-name gray-hover">{{person.name}}</h6> </a>
                          <p class="m-0">{{person.job}}</p>
                        </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="overflow-x-hidden py-4 ps-lg-4 bg-white text-black">
    <div class="container-xxl container-fluid">
      <div class="row">
        <div class="col-lg-9">
          <h4 class="h4 fw-bold">Top Billed Cast</h4>
          <div class="E-casting">
            @for (actor of cast.slice(0,10); track $index) {
              <div class="E-card border shadow shadow-sm">
                <div class="E-card-body p-0">
                  @if (actor.profile_path) {
                    <a [routerLink]="['/person', actor.id]" >
                      <img class="E-cast-img" [src]="imgPrefix + actor.profile_path" [alt]="actor.name" [title]="actor.name">
                    </a>
                  } @else {
                    <a [routerLink]="['/person', actor.id]" >
                      <img class="E-cast-img" src="./assets/images/cast avatar.svg" [alt]="actor.name">
                    </a>
                  }
                </div>
                <div class="E-card-footer d-flex flex-column">
                  <a [routerLink]="['/person', actor.id]" class="my-font E-actor-name">{{actor.name}}</a>
                  <span class="my-font E-actor-character">{{actor.character}}</span>
                </div>
              </div>
            }
            <div class="d-flex justify-content-center align-items-center E-card border-0">
              <a [routerLink]="['/moviedetails', movieDetails.id , 'cast']" class="fw-bolder fs-5 cr E-view-click">View More →</a>
            </div>
          </div>
          <div class="mt-3">
            <a [routerLink]="['/moviedetails', movieDetails.id , 'cast']" class="m-0 h5 E-view-click fst-italic fw-bolder">Full Cast & Crew</a>
          </div>
          @if (movieOneReviews) {
            <div class="mt-4 pt-4 d-flex align-items-center border-top">
              <p class="p-0 m-0 h4 fw-bold me-5">Social</p>
              <p class="p-0 m-0 h5 fw-bold cr E-active">Reviews <span class="text-muted">{{movieReviews.length}}</span></p>
            </div>
          }
          @defer (on viewport; on timer(5s)) {
            @if (movieOneReviews) {
              <div class="E-review">
                <div class="d-flex align-items-center">
                  <div class="E-review-initial">
                    @if (movieOneReviews.author_details.avatar_path) {
                      <img class="w-100" [src]="imgPrefix + movieOneReviews.author_details.avatar_path" [alt]="movieOneReviews.author">
                    }@else {
                      <span class="fs-3 text-white">{{movieOneReviews.author_details.username.slice(0,2) | uppercase}}</span>
                    }
                  </div>
                  <div class="d-flex flex-column">
                    <span class="E-review-user-name">A review by {{movieOneReviews.author | titlecase}}</span>
                    <div class="d-flex align-items-center">
                      @if (movieOneReviews.author_details.rating) {
                        <span class="E-review-percentage badge fw-bolder ms-0">★ {{movieOneReviews.author_details.rating * 10}}%</span>
                      }@else {
                        <span class="E-review-percentage badge fw-bolder ms-0">★★</span>
                      }
                      <span class="E-review-date">Written by <b>{{movieOneReviews.author | titlecase}}</b> on {{movieOneReviews.created_at | date}}</span>
                    </div>
                  </div>
                </div>
                <p class="E-review-text">
                  @if (movieOneReviews.content.split(" ").length < 50) {
                    {{movieOneReviews.content}}
                  }
                  @else if (movieOneReviews.content.split(" ").length > 50){
                    {{movieOneReviews.content | term : 50}}....<a class="text-decoration-underline" [href]="movieOneReviews.url" target="_blank">read the rest</a>
                  }
                </p>
              </div>
            }@else if(movieReviews.length==0){
              <div class="mt-4 pt-4 d-flex align-items-center border-top">
                <p class="p-0 m-0 h4 fw-bold me-5">Social</p>
                <p class="p-0 m-0 h5 fw-bold cr E-active">Reviews <span class="text-muted">{{movieReviews.length}}</span></p>
              </div>
              <p style="font-size: 18px;" class="m-0 mt-2 pb-3 border-bottom">We don't have any reviews for {{movieDetails.title}}.</p>
            }
            @if (movieReviews.length>1) {
              <div class="pb-3 mt-3 border-bottom">
                <a [routerLink]="['/moviedetails', movieDetails.id , 'reviews']" class="h5 m-0 h5 fst-italic fw-bolder E-view-click w-fit">Read All Reviews</a>
              </div>
            }
            }@placeholder {
            <div class="mt-4 d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-spinner fa-spin fa-2x"></i>
            </div>
            }
            <div class="mt-4 d-flex align-items-center">
              <p class="p-0 m-0 h4 fw-bold me-lg-5 me-md-3 me-3">Media</p>
              <div class="d-flex flex-grow-1 justify-content-between align-items-center">
                <div class="d-flex gap-lg-4 gap-md-2 gap-2">
                  <p (click)="setMediaActiveTab('videos')" class="p-0 m-0 h5 fw-bold cr mq-tabs" [ngClass]="{'E-active': mediaActiveTab === 'videos'}">Videos <span class="text-muted">{{movieVideos.length}}</span></p>
                  <p (click)="setMediaActiveTab('backdrops')" class="p-0 m-0 h5 fw-bold cr mq-tabs" [ngClass]="{'E-active': mediaActiveTab === 'backdrops'}">Backdrops <span class="text-muted">{{movieImages?.backdrops?.length}}</span></p>
                  <p (click)="setMediaActiveTab('posters')" class="p-0 m-0 h5 fw-bold cr mq-tabs" [ngClass]="{'E-active': mediaActiveTab === 'posters'}">Posters <span class="text-muted">{{movieImages?.posters?.length}}</span></p>
                </div>
                <div></div>
                <div class="ms-sm-0 ms-2">
                  @if (mediaActiveTab === 'videos' && movieVideos.length>6) {<a class="h5 fw-bold text-primary mq-tabs" [routerLink]="['/moviedetails', movieDetails.id , 'videos']">View All Videos</a>}
                  @if (mediaActiveTab === 'backdrops' && movieImages.backdrops.length>10) {<a class="h5 fw-bold text-primary mq-tabs" [routerLink]="['/moviedetails', movieDetails.id , 'backdrops']">View All Backdrops</a>}
                  @if (mediaActiveTab === 'posters' && movieImages.posters.length>10) {<a class="h5 fw-bold text-primary mq-tabs" [routerLink]="['/moviedetails', movieDetails.id , 'posters']">View All Posters</a>}
                </div>
              </div>
            </div>
            @if (!(movieVideos.length==0 && movieImages?.backdrops?.length==0 && movieImages?.posters?.length==0)) {
              <div class="E-media">
                @if (mediaActiveTab === 'videos') {
                  <div class="d-flex">
                    @for (vid of movieReversedVideos ; track idx ; let idx = $index ) {
                      <div (click)="showVideo(idx)" class="E-media-card cr">
                        <div [style.background-image]="videoBackgroundUrls[idx]">  <!-- {'background-image': 'url(' + 'https://i.ytimg.com/vi/' + vid.key + '/hq720.jpg)'} -->
                          <span class="E-play">▶</span>
                        </div>
                      </div>
                      @if(isVideoVisible && currentVideoIndex === idx){
                        <div class="media-video-overlay">
                          <div class="media-video-container">
                            <div class="media-top-trailer p-2 text-white">
                              <p class="m-0 h5">{{vid.name}}</p>
                              <button class="close-video" (click)="closeVideo()"><i class="fa-solid fa-xmark"></i></button>
                            </div>
                            <div>
                              <iframe allow="autoplay; encrypted-media; picture-in-picture;" allowfullscreen [src]="modifiedURLs[idx]" frameborder="0"></iframe>
                            </div>
                          </div>
                        </div>
                      }
                    }
                    @if (movieVideos.length>6) {
                      <div class="d-flex justify-content-center align-items-center E-card border-0">
                        <a [routerLink]="['/moviedetails', movieDetails.id , 'videos']" class="fw-bolder fs-5 cr E-view-click">View More →</a>
                      </div>
                    }
                  </div>
                }
                @if (mediaActiveTab === 'backdrops') {
                  <div class="d-flex">
                    @for (bac of movieImages.backdrops.slice(0,10); track $index) {
                      <div class="E-backdrops-card">
                        <a [href]="imgView + bac.file_path" target="_blank">
                          @if (bac.file_path) {
                            <img class="w-100" [src]="imgPrefix + bac.file_path">
                          }@else{
                            <img class="w-100" src="./assets/images/glyphicons-basic-38-picture-grey.svg">
                          }
                        </a>
                      </div>
                    }
                    @if (movieImages.backdrops.length>10) {
                      <div class="d-flex justify-content-center align-items-center E-card border-0">
                        <a [routerLink]="['/moviedetails', movieDetails.id , 'backdrops']" class="fw-bolder fs-5 cr E-view-click">View More →</a>
                      </div>
                    }
                  </div>
                }
                @if (mediaActiveTab === 'posters') {
                  <div class="d-flex">
                    @for (pos of movieImages.posters.slice(0,10); track $index) {
                      <div class="E-poster-card">
                        <a [href]="imgView + pos.file_path" target="_blank">
                          @if (pos.file_path) {
                            <img class="w-100" [src]="imgPrefix + pos.file_path">
                          }@else {
                            <img class="w-100" src="./assets/images/glyphicons-basic-38-picture-grey.svg">
                          }
                        </a>
                      </div>
                    }
                    @if (movieImages.posters.length>10) {
                      <div class="d-flex justify-content-center align-items-center E-card border-0">
                        <a [routerLink]="['/moviedetails', movieDetails.id , 'posters']" class="fw-bolder fs-5 cr E-view-click">View More →</a>
                      </div>
                    }
                  </div>
                }
              </div>
            }@else {
              <p style="font-size: 18px;" class="m-0 mt-2 pb-3 border-bottom">We don't have any media for {{movieDetails.title}}.</p>
            }
            <h4 class="p-0 m-0 h4 fw-bold mt-3 pt-4 mb-2 border-top">Recommendations</h4>
            @defer (on viewport; on timer(9s)) {
              @if (movieRecommendations.length!==0) {
                <div class="E-recommend py-0">
                  @for (rec of movieRecommendations; track $index) {
                    <a [routerLink]="['/moviedetails', rec.id]">
                      <div class="E-recommend-card">
                        <div class="E-rec-img">
                          @if (rec.backdrop_path) {
                            <img class="w-100 rounded-2" [src]="imgPrefix + rec.backdrop_path" [alt]="rec.title" [title]="rec.title">
                          } @else {
                            <img class="E-recommend-img-placeholder rounded-2" src="./assets/images/glyphicons-basic-38-picture-grey.svg" [alt]="rec.title">
                          }
                          <div class="E-date-layer position-absolute bg-body-secondary p-1">
                            <div class="d-flex justify-content-between">
                              <span><i class="fa-solid fa-calendar-days"></i> {{rec.release_date | date :'dd/MM/YYYY'}}</span>
                              <span>{{rec.vote_average | rating}}%</span>
                            </div>
                          </div>
                        </div>
                        <div class="E-recommend-footer">
                          <p style="font-size: 18px; line-height: 16px;" class="m-0 my-2 w-fit">{{rec.title}}</p>
                        </div>
                      </div>
                    </a>
                  }
                </div>
              }@else{
                <p style="font-size: 18px;">We don't have enough data to suggest any movies based on {{movieDetails.title}}. You can help by rating movies you've seen.</p>
              }
            }@placeholder {
              <div class="mt-4 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-spinner fa-spin fa-2x"></i>
              </div>
            }
        </div>
        <div class="col-lg-3 pt-3">
          <div class="E-more-data p-1">
            <div class="E-social mb-3">
              @if (movieExternalIds?.facebook_id) {<a class="E-icon" [href]="'https://www.facebook.com/'+movieExternalIds?.facebook_id" target="_blank" aria-label="Visit Facebook"><i class="fa-brands fa-facebook"></i></a>}
              @if (movieExternalIds?.instagram_id) {<a class="E-icon" [href]="'https://www.instagram.com/'+movieExternalIds?.instagram_id" target="_blank" aria-label="Visit Instagram"><i class="fa-brands fa-instagram"></i></a>}
              @if (movieExternalIds?.twitter_id) {<a class="E-icon" [href]="'https://www.twitter.com/'+movieExternalIds?.twitter_id" target="_blank" aria-label="Visit Twitter"><i class="fa-brands fa-twitter"></i></a>}
              @if (movieExternalIds?.imdb_id) {<a class="E-icon" [href]="'https://www.imdb.com/title/'+movieExternalIds?.imdb_id" target="_blank" aria-label="Visit IMDB"><i class="fa-brands fa-imdb border-end pe-3"></i></a>}
              @if (movieDetails.homepage) {<a class="E-icon" [href]="movieDetails.homepage" target="_blank" aria-label="Visit HomePage"><i class="fa-solid fa-link"></i></a>}
            </div>
            @if (movieDetails.original_language!=="en") {
              <div class="original-title">
                <strong>Original Title</strong>
                <p>{{movieDetails.original_title}}</p>
              </div>
          }
              <div>
                <strong>Status</strong>
                @if (movieDetails.status) {<p>{{movieDetails.status}}</p>}@else {<p>-</p>}
              </div>
              <div>
                <strong>Original Language</strong>
                <p>{{movieDetails.spoken_languages[0]?.english_name ? movieDetails.spoken_languages[0].english_name : movieDetails.original_language}}</p>
              </div>
              <div>
                <strong>Budget</strong>
                @if (movieDetails.budget) {<p>{{movieDetails.budget | currency}}</p>}@else {<p>-</p>}
              </div>
              <div>
                <strong>Revenue</strong>
                @if (movieDetails.budget) {<p>{{movieDetails.revenue | currency}}</p>}@else {<p>-</p>}
              </div>
            </div>
            @if (moviePCompanies.length !==0) {
              <div>
                <strong class="prod-com">Production Companies</strong>
                <div class="d-flex flex-wrap gap-4 mt-3">
                  @for (com of moviePCompanies.slice(0,6); track $index) {
                    <div class="d-flex justify-content-center align-items-center">
                      @if (com.logo_path) {<img width="80px" [src]="imgPrefix + com.logo_path" [alt]="com.name" [title]="com.name">}
                      @if (!com.logo_path){<div class="m-0 h6 E-pro-comp" width="70px">{{com.name}}</div>}
                    </div>
                  }
                </div>
              </div>
            }
            @if (movieKeywords?.length!==0) {
              <div class="py-3 border-top border-bottom mt-3">
                <strong class="d-block">Keywords</strong>
                @for (key of movieKeywords; track $index) {
                  <a [routerLink]="['/keyword', key.id, key.name, 'movie', 'page',1]">
                    <h6 class="badge blue mq-keyword">{{key.name}}</h6>
                  </a>
                }
              </div>
            }
        </div>
      </div>
    </div>
  </section>
}