.details-layer{
  background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, .99) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 31.5, .84) 50%, rgba(31.5, 31.5, 31.5, .84) 100%);
}
.mq-keyword{
  max-width:100% ;  word-wrap: break-word;
  overflow-wrap: break-word;  white-space: normal;
}