.head{
  background-image:url(../../../assets/images/light_blue.svg);
  background-position: 0% 1000%;
  background-size: cover;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}